@{
}
<div class="container-wrapper">
    <div class="container body-content">

        <div class="container bio">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>
                        My name is <b>Lu xu</b>. I live in JiaXing, China where
                        I work as a professional software developer. <br />
                        Skill: c#, asp.net core, javascript<br />
                        <a href="mailto:xgluxv@hotmail.com">Contact me</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

